<div class="container-fluid">


    <div class="row">
        <div class="col-md-4">
            <div class="image">
                <img src="{{userResults.avatar_url}}" alt="">
        
            </div>
        
            <div class="username">
                <h3>Username:{{userResults.login}}</h3>
            </div>
          
            <div class="followers">
                <h3>Followers: {{userResults.followers}}</h3>
            </div>
            <div class="following">
                <h3>Following: {{userResults.following}}</h3>
            </div>
            <div class="public_repos">
                <h3>Public Repos: {{userResults.public_repos}}</h3>
            </div>
            <div class="created_at">
                <h3>Created on: {{userResults.created_at | date}}</h3>
            </div>
        </div>
        <div class="col-md-8 repoos">
            <h1 class="text-center m-1"><u>{{userResults.login}} Repositories </u> </h1>

                <div class="describe" *ngFor="let repositoryResult of repositoryResults">
                    <h3>Name: {{repositoryResult.name}} </h3>
                    <h4>Description: {{repositoryResult.description}}</h4>
                    <h3>Created on: {{repositoryResult.created_at | date}}</h3>
                    <a href="{{repositoryResult.html_url}}">
                        <button class="btn btn-secondary">Repo Details</button>
                        <hr>
                    </a>
                </div>

        </div>
    </div>
   
</div>

