<div class="container-fluid">    
       
            
                <form (ngSubmit)="Rep()"  #formInputs="ngForm">

                    <input type="text" class="form-control" ngModel name="search" placeholder="Github username "><br>
                    <button type="submit"  class="btn btn-warning">Search Repositories</button><br><br>

                </form>         
   
    <div class="row" *ngIf="r">
         <div  *ngFor="let repoos of fetchrrr; ">

                    <h5> Description: {{ repoos.description }}</h5>


        </div> 
    </div>





