<!-- <app-form-search (getName)="formMethod($event)"></app-form-search>


<div class="users" >
   
    {{users.login}}
</div> -->


<form>
    <div class="form-group">
        <label>Enter Github Username:</label>
        <input type="text" name="search" [(ngModel)]='username' (keyup)="findUser()">
    </div>
</form>


<div class="card-header">
    Username: {{user.login}}
</div>


<div class="display">
    <ul class="list-group">
        
        <li class="list-group-item"><strong>Image: </strong> <img src="{{user.avatar_url}}" alt="GitHub Image"></li>
        <li class="list-group-item"><strong>Following: </strong> {{user.following}}</li>
        <li class="list-group-item"><strong>Email: </strong> {{user.email}}</li>
        <li class="list-group-item"><strong>Location: </strong> {{user.location}}</li>
        <li class="list-group-item"><strong>Repoos: </strong> {{user.public_repos}}</li>
        <li class="list-group-item"><strong>Created: </strong> {{user.created_at }}</li>
    </ul>

</div> 

<!-- <div class="card-body" >
    <a href="{{user.html_url}}" target="_blank"><strong>{{user.name}}</strong></a>
    <p><strong>Created:</strong> {{user.created_at}}</p>
    <p><strong>Created by:</strong> {{user.owner.login}}</p>
    <p><strong>Language used:</strong> {{user.language}}</p>
    <p>{{user.description}}</p>
</div> -->